@inherits TransportationOrderComponentBase

<ProcessingSpiner Visible="@IsComponentBusy"/>

@if (IsValidating)
{
    <LoadingProcess />
}
else
{
    if (ComponentMode == ComponentMode.List)
    {
        <div class="position-relative">
            <div class="@(IsDetailBusy ? "component-backdrop" : null)"></div>

            <WarningModal WarningMessage="@WarningMessage"
                          WarningResponse="@HandleWarningResponse"
                          @bind-IsShowWarning="@IsShowWarning"/>

            <DxDataGrid CustomData="@LoadTransportationOrders"
                        KeyFieldName="@KeyFieldName"
                        CssClass="@CssClass"
                        PageSize="@PageSize"
                        PageIndex="@PageIndex"
                        SelectionMode="@SelectionMode"
                        SelectAllMode="@SelectAllMode"
                        ShowFilterRow="IsShowFilterRow"
                        RowClick="@OnRowClick"
                        LayoutRestoring="@OnLayoutRestoring"
                        PagerPageSizeSelectorVisible="true"
                        PagerAllDataRowsItemVisible="true"
                        PagerAllowedPageSizes="@AllowedPageSizes"
                        @bind-MultipleSelectedDataRows="@SelectedCollection"
                        @ref="@Grid"
                        T="@TransportationOrderWithDetail">

                <HeaderTemplate>
                    <DataGridToolbar IsBusy="@(IsBusy || IsMasterBusy || IsDetailBusy)"
                                     CssClass="@ToolbarCssClass"
                                     SelectedCount="@SelectedCount"
                                     RequiredClaimType="@RequiredClaimType"
                                     OnToolbarClick="@HandleToolbarResponse"
                                     CanRestore="@CanRestore"
                                     ReadOnly="@ReadOnly">
                    </DataGridToolbar>
                </HeaderTemplate>

                <Columns>
                    @* <DxDataGridSelectionColumn Width="60px"/> *@
                    <DxDataGridColumn Field="@nameof(TransportationOrderWithDetail.OrderNumber)"
                                      Caption="No."
                                      Width="100px">
                        <DisplayTemplate>
                            @{
                                var requestNumb = $"{((TransportationOrderWithDetail) context).OrderNumber:000000}";
                                <span>@requestNumb</span>
                            }
                        </DisplayTemplate>
                    </DxDataGridColumn>
                    <DxDataGridDateEditColumn Field="@nameof(TransportationOrderWithDetail.OrderDate)"
                                              DisplayFormat="dd/MM/yyyy"
                                              Width="100px"
                                              Caption="Date"
                                              Visible="false"/>
                    <DxDataGridDateEditColumn Field="@nameof(TransportationOrderWithDetail.DueDate)"
                                              DisplayFormat="dd/MM/yyyy"
                                              Width="100px"
                                              Caption="Due Date"/>
                    <DxDataGridDateEditColumn Field="@nameof(TransportationOrderWithDetail.CompletedDate)"
                                              DisplayFormat="dd/MM/yyyy"
                                              Width="100px"
                                              Caption="Completed Date"
                                              Visible="false"/>
                    <DxDataGridColumn Field="@nameof(TransportationOrderWithDetail.StatusName)"
                                      Caption="Status"
                                      Width="100px"/>
                    <DxDataGridDateEditColumn Field="@nameof(TransportationOrderWithDetail.StatusDate)"
                                              DisplayFormat="dd/MM/yyyy"
                                              Width="100px"
                                              Caption="Status Date"
                                              Visible="false"/>
                    <DxDataGridColumn Field="@nameof(TransportationOrderWithDetail.TruckLicensePlate)"
                                      Caption="Truck"
                                      Width="100px"/>
                    <DxDataGridColumn Field="@nameof(TransportationOrderWithDetail.DriverName)"
                                      Caption="Driver"/>
                    <DxDataGridColumn Field="@nameof(TransportationOrderWithDetail.DriverLicenseCard)"
                                      Caption="Driver License"
                                      Visible="false"/>
                    <DxDataGridColumn Field="@nameof(TransportationOrderWithDetail.CoDriver1Name)"
                                      Caption="Co-Driver 1"
                                      Visible="false"/>
                    <DxDataGridColumn Field="@nameof(TransportationOrderWithDetail.CoDriver2Name)"
                                      Caption="Co-Driver 2"
                                      Visible="false"/>
                    <DxDataGridSpinEditColumn Field="@nameof(TransportationOrderWithDetail.StartMileGauge)"
                                              DisplayFormat="N0"
                                              Width="100px"
                                              Visible="false"/>
                    <DxDataGridSpinEditColumn Field="@nameof(TransportationOrderWithDetail.EndMileGauge)"
                                              DisplayFormat="N0"
                                              Width="100px"
                                              Visible="false"/>
                    <DxDataGridColumn Field="@nameof(TransportationOrderWithDetail.Remark)"
                                      Caption="Remark"/>
                    <DxDataGridColumn Field="@nameof(TransportationOrderWithDetail.DeletedStatus)"
                                      TextAlignment="DataGridTextAlign.Center"
                                      Caption="Status"
                                      Width="80px"
                                      Visible="@IsAdmin"
                                      ShowInColumnChooser="false"/>
                </Columns>
            </DxDataGrid>
        </div>
    }
    else
    {
        <div class="card py-2">
            <EditForm Model="@DataEditContext" Context="editFormContext" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
                <FluentValidationValidator/>
                <DxFormLayout CaptionPosition="@CaptionPosition.Vertical" ItemSizeMode="SizeMode.Medium" Context="FormLayoutContext">
                    <DxFormLayoutItem Caption="Order No." ColSpanMd="3" CssClass="@(ComponentMode == ComponentMode.Add ? "with-tooltip" : null)">
                        <Template>
                            <DxTextBox ReadOnly="true"
                                       @bind-Text="@DataEditContext.OrderNumberDisplay"/>
                            <ValidationMessage For="() => DataEditContext.OrderNumber"/>
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Date" ColSpanMd="3">
                        <Template>
                            <DxDateEdit DisplayFormat="dd/MM/yyyy"
                                        Format="dd/MM/yyyy"
                                        ReadOnly="true"
                                        @bind-Date="@DataEditContext.OrderDate"/>
                            <ValidationMessage For="() => DataEditContext.OrderDate"/>
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Due Date" ColSpanMd="3">
                        <Template>
                            <DxDateEdit DisplayFormat="dd/MM/yyyy"
                                        Format="dd/MM/yyyy"
                                        @bind-Date="@DataEditContext.DueDate"/>
                            <ValidationMessage For="() => DataEditContext.DueDate"/>
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Order Status" ColSpanMd="3">
                        <Template>
                            <DxComboBox Data="@OrderStatusCollection"
                                        ValueFieldName="@nameof(TgOrderStatuses.Value)"
                                        TextFieldName="@nameof(TgOrderStatuses.DisplayName)"
                                        CssClass="normal-combobox"
                                        @bind-Value="@DataEditContext.Status"/>
                            <ValidationMessage For="() => DataEditContext.Status"/>
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Truck License Plate" ColSpanMd="3">
                        <Template>
                            <DxTextBox @bind-Text="@DataEditContext.TruckLicensePlate"/>
                            <ValidationMessage For="() => DataEditContext.TruckLicensePlate"/>
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Driver Name" ColSpanMd="3">
                        <Template>
                            <DxTextBox @bind-Text="@DataEditContext.DriverName"/>
                            <ValidationMessage For="() => DataEditContext.DriverName"/>
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Driver License" ColSpanMd="3">
                        <Template>
                            <DxTextBox @bind-Text="@DataEditContext.DriverLicenseCard"/>
                            <ValidationMessage For="() => DataEditContext.DriverLicenseCard"/>
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Co-Driver 1" ColSpanMd="3">
                        <Template>
                            <DxTextBox @bind-Text="@DataEditContext.CoDriver1Name"/>
                            <ValidationMessage For="() => DataEditContext.CoDriver1Name"/>
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Co-Driver 2" ColSpanMd="3">
                        <Template>
                            <DxTextBox @bind-Text="@DataEditContext.CoDriver2Name"/>
                            <ValidationMessage For="() => DataEditContext.CoDriver2Name"/>
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Start Mile Gauge" ColSpanMd="3">
                        <Template>
                            <DxSpinEdit BindValueMode="BindValueMode.OnInput"
                                        MaxValue="999999"
                                        MinValue="0"
                                        Increment="1"
                                        DisplayFormat="N0"
                                        @bind-Value="@DataEditContext.StartMileGauge"/>
                            <ValidationMessage For="() => DataEditContext.StartMileGauge"/>
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="End Mile Gauge" ColSpanMd="3">
                        <Template>
                            <DxSpinEdit BindValueMode="BindValueMode.OnInput"
                                        MaxValue="999999"
                                        MinValue="0"
                                        Increment="1"
                                        DisplayFormat="N0"
                                        @bind-Value="@DataEditContext.EndMileGauge"/>
                            <ValidationMessage For="() => DataEditContext.EndMileGauge"/>
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Remark" ColSpanMd="6">
                        <Template>
                            <DxTextBox @bind-Text="@DataEditContext.Remark"/>
                            <ValidationMessage For="() => DataEditContext.Remark"/>
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="12">
                        <Template>
                            <EditFormButtonGroup ComponentMode="@ComponentMode"
                                                 SaveAndCloseOnlyWhenAdd="true"
                                                 CancelUpdateClicked="@CancelUpdateClick"
                                                 @bind-SubmitClick="@SubmitClick"
                                                 @bind-SaveAndClose="@SaveAndClose">
                                <span class="mr-auto help-text @(ComponentMode == ComponentMode.Edit ? "d-none" : null)">* Auto-generate after saved.</span>
                            </EditFormButtonGroup>
                        </Template>
                    </DxFormLayoutItem>
                </DxFormLayout>
            </EditForm>
        </div>
    }
}