@inherits CustomerProductPackageComponentBase

<ProcessingSpiner Visible="@IsComponentBusy"/>

@if (IsValidating)
{
    <LoadingProcess />
}
else
{
    if (ComponentMode == ComponentMode.List)
    {
        <di class="position-relative">
            <div class="@(IsDetailBusy ? "component-backdrop" : null)">
            </div>

            <WarningModal @bind-IsShowWarning="@IsShowWarning"
                           WarningMessage="@WarningMessage"
                           WarningResponse="@HandleWarningResponse"/>

            <DxDataGrid CustomData="@LoadCustomerProductPackages"
                        KeyFieldName="@KeyFieldName"
                        CssClass="@CssClass"
                        PageIndex="@PageIndex"
                        PageSize="@PageSize"
                        SelectionMode="@SelectionMode"
                        SelectAllMode="@SelectAllMode"
                        ShowFilterRow="IsShowFilterRow"
                        RowClick="@OnRowClick"
                        LayoutRestoring="@OnLayoutRestoring"
                        PagerPageSizeSelectorVisible="true"
                        PagerAllDataRowsItemVisible="true"
                        PagerAllowedPageSizes="@AllowedPageSizes"
                        @bind-MultipleSelectedDataRows="@SelectedCollection"
                        @ref="@Grid"
                        T="@CustomerProductPackageWithDetail">

                <HeaderTemplate>
                    <DataGridToolbar IsBusy="@(IsBusy || IsMasterBusy || IsDetailBusy)"
                                     CssClass="@ToolbarCssClass"
                                     SelectedCount="@SelectedCount"
                                     RequiredClaimType="@RequiredClaimType"
                                     OnToolbarClick="@HandleToolbarResponse"
                                     CanRestore="@CanRestore"/>
                </HeaderTemplate>

                <Columns>
                    @* <DxDataGridSelectionColumn Width="60px"/> *@
                    <DxDataGridColumn Field="@nameof(CustomerProductPackageWithDetail.PackageCode)"
                                      Caption="Package Code"/>
                    <DxDataGridSpinEditColumn Field="@nameof(CustomerProductPackageWithDetail.Quantity)"
                                              Caption="Quantity"
                                              DisplayFormat="#,##0.0000"/>
                    <DxDataGridSpinEditColumn Field="@nameof(CustomerProductPackageWithDetail.NetWeight)"
                                              Caption="Net Wt.(kg)"
                                              DisplayFormat="#,##0.0000"/>
                    <DxDataGridSpinEditColumn Field="@nameof(CustomerProductPackageWithDetail.GrossWeight)"
                                              Caption="Gross Wt.(kg)"
                                              DisplayFormat="#,##0.0000"/>
                    <DxDataGridColumn Field="@nameof(CustomerProductPackageWithDetail.Remark)"
                                      Caption="Remark"
                                      Visible="false"/>
                    <DxDataGridColumn Field="@nameof(CustomerProductPackageWithDetail.DeletedStatus)" Caption="Status"
                                      Width="80px" TextAlignment="DataGridTextAlign.Center"
                                      Visible="@IsAdmin" ShowInColumnChooser="false"/>
                </Columns>
            </DxDataGrid>
        </di>
    }
    else
    {
        <div class="card py-2">
            <EditForm Model="@DataEditContext" Context="editFormContext" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
                <FluentValidationValidator/>
                <DxFormLayout CaptionPosition="@CaptionPosition.Vertical" ItemSizeMode="SizeMode.Medium" Context="FormLayoutContext">
                    <DxFormLayoutItem Caption="Package Code" ColSpanMd="3">
                        <Template>
                            <BlazoredTypeahead SearchMethod="SearchPackageTypes"
                                               EnableDropDown="true"
                                               Context="packageTypeContext"
                                               placeholder="Type to search..."
                                               @bind-Value="SelectedPackageType">
                                <SelectedTemplate>
                                    @packageTypeContext.Code
                                </SelectedTemplate>
                                <ResultTemplate>
                                    @packageTypeContext.Code
                                </ResultTemplate>
                            </BlazoredTypeahead>
                            <ValidationMessage For="() => DataEditContext.PackageTypeId"/>
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Quantity" ColSpanMd="3">
                        <Template>
                            <DxSpinEdit @bind-Value="@DataEditContext.Quantity"
                                         BindValueMode="BindValueMode.OnInput"
                                         MaxValue="9999.9999m"
                                         MinValue="0m"
                                         Increment="0.0001m"/>
                            <ValidationMessage For="() => DataEditContext.Quantity"/>
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Net Wt.(kg)" ColSpanMd="3">
                        <Template>
                            <DxSpinEdit @bind-Value="@DataEditContext.NetWeight"
                                         BindValueMode="BindValueMode.OnInput"
                                         MaxValue="9999.9999m"
                                         MinValue="0m"
                                         Increment="0.0001m"/>
                            <ValidationMessage For="() => DataEditContext.NetWeight"/>
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Gross Wt.(kg)" ColSpanMd="3">
                        <Template>
                            <DxSpinEdit @bind-Value="@DataEditContext.GrossWeight"
                                         BindValueMode="BindValueMode.OnInput"
                                         MaxValue="9999.9999m"
                                         MinValue="0m"
                                         Increment="0.0001m"/>
                            <ValidationMessage For="() => DataEditContext.GrossWeight"/>
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Package / Layer on Pallet" ColSpanMd="3">
                        <Template>
                            <DxSpinEdit MaxValue="999"
                                        MinValue="0"
                                        Increment="1"
                                        BindValueMode="BindValueMode.OnInput"
                                        @bind-Value="@DataEditContext.PackagePerLayerOnPallet"/>
                            <ValidationMessage For="() => DataEditContext.PackagePerLayerOnPallet"/>
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Maximum Layer on Pallet" ColSpanMd="3">
                        <Template>
                            <DxSpinEdit MaxValue="999"
                                        MinValue="0"
                                        Increment="1"
                                        BindValueMode="BindValueMode.OnInput"
                                        @bind-Value="@DataEditContext.MaximumLayerOnPallet"/>
                            <ValidationMessage For="() => DataEditContext.MaximumLayerOnPallet"/>
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Remark" ColSpanMd="6">
                        <Template>
                            <DxTextBox @bind-Text="@DataEditContext.Remark"/>
                            <ValidationMessage For="() => DataEditContext.Remark"/>
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem BeginRow="true" ColSpanMd="12">
                        <Template>
                            <EditFormButtonGroup ComponentMode="@ComponentMode"
                                                 CancelUpdateClicked="@CancelUpdateClick"
                                                 @bind-SubmitClick="@SubmitClick"
                                                 @bind-SaveAndClose="@SaveAndClose"/>
                        </Template>
                    </DxFormLayoutItem>
                </DxFormLayout>
            </EditForm>
        </div>
    }
}