@inherits StockLocationComponentBase

<ProcessingSpiner Visible="@IsComponentBusy"/>

@if (ComponentMode == ComponentMode.List)
{
    <div class="position-relative">
        <div class="@(IsDetailBusy ? "component-backdrop" : null)">
        </div>

        <WarningModal @bind-IsShowWarning="@IsShowWarning"
                       WarningMessage="@WarningMessage"
                       WarningResponse="@HandleWarningResponse"/>

        <DxDataGrid @ref="@Grid"
                     T="@StockLocation"
                     CustomData="@LoadStockLocations"
                     KeyFieldName="@KeyFieldName"
                     CssClass="@CssClass"
                     PageIndex="@PageIndex"
                     PageSize="@PageSize"
                     SelectionMode="@SelectionMode"
                     SelectAllMode="@SelectAllMode"
                     @bind-MultipleSelectedDataRows="@SelectedCollection"
                     ShowFilterRow="IsShowFilterRow"
                     RowClick="@OnRowClick"
                     LayoutRestoring="@OnLayoutRestoring"
                     PagerPageSizeSelectorVisible="true"
                     PagerAllDataRowsItemVisible="true"
                     PagerAllowedPageSizes="@AllowedPageSizes">

            <HeaderTemplate>
                <DataGridToolbar IsBusy="@(IsBusy || IsMasterBusy || IsDetailBusy)"
                                 CssClass="@ToolbarCssClass"
                                 SelectedCount="@SelectedCount"
                                 RequiredClaimType="@RequiredClaimType"
                                 OnToolbarClick="@HandleToolbarResponse"
                                 IsPermanent="@IsPermanent"
                                 CanRestore="@CanRestore"/>
            </HeaderTemplate>

            <Columns>
                @* <DxDataGridSelectionColumn Width="60px"/> *@
                <DxDataGridColumn Field="@nameof(StockLocation.Building)" Caption="Building"/>
                <DxDataGridColumn Field="@nameof(StockLocation.Shelf)" Caption="Shelf"/>
                <DxDataGridColumn Field="@nameof(StockLocation.Position)" Caption="Position"/>
                <DxDataGridCheckBoxColumn Field="@nameof(StockLocation.IsTemporaryLocation)"
                                          Caption="Type"
                                          TextAlignment="DataGridTextAlign.Center"
                                          FilterTextChecked="Temporary"
                                          FilterTextUnchecked="Normal"/>
                <DxDataGridColumn Field="@nameof(StockLocation.DeletedStatus)" Caption="Status"
                                  Width="80px" TextAlignment="DataGridTextAlign.Center"
                                  Visible="@IsAdmin" ShowInColumnChooser="false"/>
            </Columns>
        </DxDataGrid>
    </div>
}
else
{
    <div class="card py-2">
        <EditForm Model="@DataEditContext" Context="editFormContext" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
            <FluentValidationValidator/>
            <DxFormLayout CaptionPosition="@CaptionPosition.Vertical" ItemSizeMode="SizeMode.Medium" Context="FormLayoutContext">
                <DxFormLayoutItem Caption="Building" ColSpanMd="4">
                    <Template>
                        <DxTextBox ReadOnly="@DataEditContext.IsPermanent" 
                                   @bind-Text="@DataEditContext.Building"/>
                        <ValidationMessage For="() => DataEditContext.Building"/>
                    </Template>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Shelf" ColSpanMd="4">
                    <Template>
                        <DxTextBox ReadOnly="@DataEditContext.IsPermanent" 
                                   @bind-Text="@DataEditContext.Shelf"/>
                        <ValidationMessage For="() => DataEditContext.Shelf"/>
                    </Template>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Position" ColSpanMd="4">
                    <Template>
                        <DxTextBox ReadOnly="@DataEditContext.IsPermanent" 
                                   @bind-Text="@DataEditContext.Position"/>
                        <ValidationMessage For="() => DataEditContext.Position"/>
                    </Template>
                </DxFormLayoutItem>
                <DxFormLayoutItem BeginRow="true" ColSpanMd="12">
                    <Template>
                        <EditFormButtonGroup ComponentMode="@ComponentMode"
                                             CancelUpdateClicked="@CancelUpdateClick"
                                             @bind-SubmitClick="@SubmitClick"
                                             @bind-SaveAndClose="@SaveAndClose"/>
                    </Template>
                </DxFormLayoutItem>
            </DxFormLayout>
        </EditForm>
    </div>
}