@inherits UserPermissionComponentBase

<ProcessingSpiner Visible="@IsComponentBusy"/>

@if (IsValidating)
{
    <LoadingProcess />
}
else
{
    if (ComponentMode == ComponentMode.List)
    {
        <div class="position-relative">
            <div class="@(IsDetailBusy ? "component-backdrop" : null)">
            </div>

            <WarningModal WarningMessage="@WarningMessage"
                          WarningResponse="@HandleWarningResponse"
                          @bind-IsShowWarning="@IsShowWarning"/>

            <DxDataGrid CustomData="@LoadUserPermissions"
                        KeyFieldName="@KeyFieldName"
                        CssClass="@CssClass"
                        PageIndex="@PageIndex"
                        PageSize="@PageSize"
                        SelectionMode="@SelectionMode"
                        SelectAllMode="@SelectAllMode"
                        ShowFilterRow="IsShowFilterRow"
                        RowClick="@OnRowClick"
                        LayoutRestoring="@OnLayoutRestoring"
                        PagerPageSizeSelectorVisible="true"
                        PagerAllDataRowsItemVisible="true"
                        PagerAllowedPageSizes="@AllowedPageSizes"
                        @bind-MultipleSelectedDataRows="@SelectedCollection"
                        @ref="@Grid"
                        T="@UserPermission">

                <HeaderTemplate>
                    <DataGridToolbar IsBusy="@(IsBusy || IsMasterBusy || IsDetailBusy)"
                                     CssClass="@ToolbarCssClass"
                                     SelectedCount="@SelectedCount"
                                     RequiredClaimType="@RequiredClaimType"
                                     OnToolbarClick="@HandleToolbarResponse"
                                     CanRestore="@CanRestore"/>
                </HeaderTemplate>

                <Columns>
                    @* <DxDataGridSelectionColumn Width="60px"/> *@
                    <DxDataGridComboBoxColumn Field="@nameof(UserPermission.ClaimTypeId)"
                                              Caption="Restrict Object"
                                              Data="@ClaimTypeCollection"
                                              ValueFieldName="@nameof(TgClaimTypes.Value)"
                                              TextFieldName="@nameof(TgClaimTypes.DisplayName)"
                                              FilteringMode="DataGridFilteringMode.Contains"/>
                    <DxDataGridComboBoxColumn Field="@nameof(UserPermission.Permission)"
                                              Caption="Permission"
                                              Data="@PermissionCollection"
                                              ValueFieldName="@nameof(TgPermissions.Value)"
                                              TextFieldName="@nameof(TgPermissions.DisplayName)"
                                              FilteringMode="DataGridFilteringMode.Contains"/>
                    <DxDataGridColumn Field="@nameof(UserPermission.DeletedStatus)" Caption="Status"
                                      Width="80px" TextAlignment="DataGridTextAlign.Center"
                                      Visible="@IsAdmin" ShowInColumnChooser="false"/>
                </Columns>
            </DxDataGrid>
        </div>
    }
    else
    {
        <div class="card py-2">
            <EditForm Model="@DataEditContext" Context="editFormContext" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
                <FluentValidationValidator/>
                <DxFormLayout CaptionPosition="@CaptionPosition.Vertical" ItemSizeMode="SizeMode.Medium" Context="FormLayoutContext">
                    <DxFormLayoutItem Caption="Restrict Object" ColSpanMd="6">
                        <Template>
                            <DxComboBox Data="@ClaimTypeCollection"
                                        ListRenderMode="ListRenderMode.Virtual"
                                        FilteringMode="DataGridFilteringMode.Contains"
                                        ValueFieldName="@nameof(TgClaimTypes.Value)"
                                        TextFieldName="@nameof(TgClaimTypes.DisplayName)"
                                        @bind-Value="@DataEditContext.ClaimTypeId"/>
                            <ValidationMessage For="() => DataEditContext.ClaimTypeId"/>
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Description" ColSpanMd="6">
                        <Template>
                            <DxComboBox Data="@PermissionCollection"
                                        ListRenderMode="ListRenderMode.Virtual"
                                        FilteringMode="DataGridFilteringMode.Contains"
                                        ValueFieldName="@nameof(TgPermissions.Value)"
                                        TextFieldName="@nameof(TgPermissions.DisplayName)"
                                        @bind-Value="@DataEditContext.Permission"/>
                            <ValidationMessage For="() => DataEditContext.Permission"/>
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="12">
                        <Template>
                            <EditFormButtonGroup ComponentMode="@ComponentMode"
                                                 CancelUpdateClicked="@CancelUpdateClick"
                                                 @bind-SubmitClick="@SubmitClick"
                                                 @bind-SaveAndClose="@SaveAndClose"/>
                        </Template>
                    </DxFormLayoutItem>
                </DxFormLayout>
            </EditForm>
        </div>
    }
}