@page "/purchases/supplier-orders"

@inherits SupplierOrdersBase

<h3>Supplier Orders</h3>

@if (IsValidating)
{
    <LoadingProcess/>
}
else
{
    <div class="mt-3 card">
        <DxFormLayout CaptionPosition="@CaptionPosition.Horizontal" ItemSizeMode="SizeMode.Medium">
            <DxFormLayoutItem Caption="Supplier Code" ColSpanMd="6">
                <Template>
                    <BlazoredTypeahead SearchMethod="SearchSuppliers"
                                       EnableDropDown="true"
                                       Context="supplierContext"
                                       placeholder="Type to search..."
                                       @bind-Value="SelectedSupplier">
                        <SelectedTemplate>
                            @supplierContext.Code
                        </SelectedTemplate>
                        <ResultTemplate>
                            @supplierContext.Code
                        </ResultTemplate>
                    </BlazoredTypeahead>
                </Template>
            </DxFormLayoutItem>
            @if ((SelectedSupplier?.Id ?? 0) > 0)
            {
                <DxFormLayoutItem ColSpanMd="6">
                    <Template>
                        <DxTextBox ReadOnly="true" 
                                   @bind-Text="@SelectedSupplier.Name"/>
                    </Template>
                </DxFormLayoutItem>
            }
        </DxFormLayout>
    </div>

    if ((SelectedSupplier?.Id ?? 0) > 0)
    {
        <div class="mt-3">
            <SupplierOrderComponent MasterId="@SelectedSupplier.Id"
                                    IsDetailBusy="@IsSupplierOrderLineBusy"
                                    @bind-SelectedId="@SupplierOrderId"
                                    @bind-SelectedCount="@SupplierOrderSelectedCount"
                                    @bind-IsBusy="@IsSupplierOrderBusy"
                                    @bind-FirstRender="@IsSupplierOrderFirstRender"
                                    @bind-RefreshDataGrid="@RefreshOrderDataGrid"/>
        </div>
    }
    
    if (SupplierOrderId > 0 && IsSupplierOrderBusy == false)
    {
        <div class="mt-3">
            <DxTabs CssClass="tg-tabs">
                <DxTabPage Text="Details">
                    <SupplierOrderLineComponent MasterId="@SupplierOrderId"
                                                SupplierId="@(SelectedSupplier?.Id ?? 0)"
                                                IsMasterBusy="@IsSupplierOrderBusy"
                                                ToolbarCssClass="tg-detail-grid"
                                                DataGridChanged="@OrderDetailChanged"
                                                @bind-IsBusy="@IsSupplierOrderLineBusy"
                                                @bind-FirstRender="@IsSupplierOrderLineFirstRender"/>
                </DxTabPage>
            </DxTabs>
        </div>
    }
}

<div class="pt-lg-5"></div>